.encabezado {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px black;
    text-shadow: 0 5px 10px #000;
}

body {
    background: linear-gradient(135deg, green, white);
    font-family: 'Segoe UI', sans-serif;
}

.botones {
    display: flex;
    margin: 20px;
    padding: 20px;
    gap: 50px;
    justify-content: center;
}

.boton {
    background-color: #097518;
    border: none;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 15px black;
}

.boton:hover {
    background-color: #229632;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.mesa{
    width: 90%;
    background-color: #68d336;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 10px 20px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center ;
}