<html ng-app="JuegoCartas">

<head>
    <title>Juego de Cartas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/carta.js"></script>
    <link href="estilos/estilos.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="ControlJuegoCartas">
    <div id="Titulo">Juego de Cartas</div>
    <div class="botones">
        <a id="btnRepartir" href="#" ng-click="repartir()" class="boton">Repartir</a>
        <a id="btnVerificar" href="#" ng-click="chequear()" class="boton">Chequear</a>
    </div>

    <div id="Mesa">
        <ul>
            <li ng-repeat="carta in cartas" class="carta">
                <img src="{{carta.obtenerImagen()}}" title="{{carta.obtenerNombre()}} {{carta.obtenerPinta()}}" />
            </li>
        </ul>
        <table>
            <tr ng-repeat="grupo in grupos">
                <td>{{ grupo.tipo }}</td>
                <td>{{ grupo.nombreCarta }}</td>
            </tr>
        </table>

    </div>

</body>

</html>